@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-brand-500: #3b82f6;
  --color-primary: #711717;
  --color-secondary: #E9E9E9;
    --color-surface: #fff7f5;
    --color-content: #1f2937;
  --color-body: #F3F3F3;
  --color-select: #2B0909;
  --color-gold: #8F8029;
  --color-purple: #e8def8;
  --radius-base: 12px;
  --color-error: oklch(57.7% 0.245 27.325);
}
html,
body,
#app {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
}